<div class="card">
  <div class="card-header">
  <h5>{{postTitle}} </h5>
    <div>Posted by {{user.name}}</div>
  </div>
  <div class="card-body">
    <p class="card-text">{{postConent}}</p>
  </div>
</div>